---
const bingoLogo = "/images/BINGO.png"
const bingoCaptura = "/images/BingoJSCapture.webp"
const pokeLogo = "/"
const pokeCaptura = "/images/Pokedex.webp"
---

<div id="projects" class="hidden h-full w-full overflow-auto relative">
    <section class="flex flex-wrap justify-center opacity-100 transform-none overflow-auto">
        <article class="animate-fade-down animate-duration-1000 animate-delay-500 animate-ease-in-out flex flex-col justify-center items-center w-[320px] h-[280px] m-5">
            <h2 class="text-xl mb-2 font-medium text-center text-white">Proyecto1</h2>
            <picture class="flex justify-center items-center w-full h-full rounded-lg overflow-hidden relative">
                <img class="w-full h-full" src={pokeCaptura} alt="">
                <div>

                </div>
            </picture>
        </article>
        <article class="animate-fade-down animate-duration-1000 animate-delay-500 animate-ease-in-out flex flex-col justify-center items-center w-[320px] h-[280px] m-5">
            <h2 class="text-xl mb-2 font-medium text-center text-white">Proyecto1</h2>
            <picture class="flex justify-center items-center w-full h-full rounded-lg overflow-hidden relative">
                <img class="w-full h-full" src={pokeCaptura} alt="">
                <div>
                    
                </div>
            </picture>
        </article>
        <article class="animate-fade-down animate-duration-1000 animate-delay-500 animate-ease-in-out flex flex-col justify-center items-center w-[320px] h-[280px] m-5">
            <h2 class="text-xl mb-2 font-medium text-center text-white">Proyecto1</h2>
            <picture class="flex justify-center items-center w-full h-full rounded-lg overflow-hidden relative">
                <img class="w-full h-full" src={pokeCaptura} alt="">
                <div>
                    
                </div>
            </picture>
        </article>
        <article class="animate-fade-down animate-duration-1000 animate-delay-500 animate-ease-in-out flex flex-col justify-center items-center w-[320px] h-[280px] m-5">
            <h2 class="text-xl mb-2 font-medium text-center text-white">Proyecto1</h2>
            <picture class="flex justify-center items-center w-full h-full rounded-lg overflow-hidden relative">
                <img class="w-full h-full" src={pokeCaptura} alt="">
                <div>
                    
                </div>
            </picture>
        </article>
        <article class="animate-fade-down animate-duration-1000 animate-delay-500 animate-ease-in-out flex flex-col justify-center items-center w-[320px] h-[280px] m-5">
            <h2 class="text-xl mb-2 font-medium text-center text-white">Proyecto1</h2>
            <picture class="flex justify-center items-center w-full h-full rounded-lg overflow-hidden relative">
                <img class="w-full h-full" src={pokeCaptura} alt="">
                <div>
                    
                </div>
            </picture>
        </article>
        <article class="animate-fade-down animate-duration-1000 animate-delay-500 animate-ease-in-out flex flex-col justify-center items-center w-[320px] h-[280px] m-5">
            <h2 class="text-xl mb-2 font-medium text-center text-white">Proyecto1</h2>
            <picture class="flex justify-center items-center w-full h-full rounded-lg overflow-hidden relative">
                <img class="w-full h-full" src={pokeCaptura} alt="">
                <div>
                    
                </div>
            </picture>
        </article>
    </section>
</div>


<style>
    #projects::-webkit-scrollbar{
        background-color: #fff;
        width: 16px;
    }
    #projects::-webkit-scrollbar-track{
        background-color: #161616;
    }
    #projects::-webkit-scrollbar-thumb{
        background-color: #babac0;
        border-radius: 16px;
        border: 4px solid #161616;
    }
</style>